/* ================= RESET ================= */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* ================= SIDEBAR ================= */
.sidebar {
  width: 250px;
  background-color: #131950;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* USER */
.user {
  color: white;
  padding: 20px;
  font-size: 16px;
}

/* ================= MENU ================= */
.chucnang {
  padding: 0 20px;
}

.chucnang ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chucnang li {
  margin: 12px 0;
}

.chucnang a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.chucnang a:hover {
  background-color: #04aa6d;
}

/* ================= LOGOUT ================= */
.inout {
  margin-top: 150px;
  /* ĐẨY XUỐNG ĐÁY */
  padding: 20px;
}

.inout ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.inout li {
  margin: 0;
  list-style: none;
}

.inout a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.inout a:hover {
  background-color: red;
}

/* Phần main (bên phải) */
.main {
  /* padding-bottom: 0 !important; */
  /* Chuyển main thành Flexbox để kiểm soát chiều cao tốt hơn */
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ngăn thanh cuộn thừa của chính main */
}
