.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.top-bar button {
  padding: 8px 16px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background: #f0f0f0;
}

.action-btn {
  margin: 0 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.overlay2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal2 {
  background: white;
  padding: 20px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.modal2 label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.modal2 input {
  width: 95%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.buttons {
  text-align: right;
  margin-top: 20px;
}

.buttons button {
  padding: 8px 14px;
  cursor: pointer;
}
